# Importing Data in Python (Part 2)

<font size="3"> 

- Quick recap
- Flat files
    - text files
- JavaScript Object Notation (JSON)
- Importing data from the Web
- Working with relational databases in Python    
- Importing data from statistical software packages
- Q&A
    
    
</font>

In [1]:
#Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### JavaScript Object Notation (JSON)

In [ ]:
df_from_json = pd.read_json("data/stocks.json")

# https://pandas.pydata.org/docs/reference/api/pandas.read_json.html

df_from_json.head()

## Importing data from the Web

In [ ]:
# Import package
from urllib.request import urlretrieve

# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V3/main/data/winequality-red.csv'
    
# Save file locally
urlretrieve(url, 'winequality-red.csv')

# Read file into a DataFrame and print its head
df = pd.read_csv('winequality-red.csv', sep=';')

df.head()

### Opening and reading flat files from the web

In [ ]:
# Import packages
import matplotlib.pyplot as plt
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V3/main/data/winequality-red.csv'

# Read file into a DataFrame: df
df = pd.read_csv(url, sep=';')

# Print the head of the DataFrame
df.head()

### Importing non-flat files from the web

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V3/main/data/latitude.xls'

# Read in all sheets of Excel file: xl
xl = pd.read_excel(url, sheet_name=None)

# Print the sheetnames 
print(xl.keys())

# Print the head of the first sheet (using its name, NOT its index)
print(xl['1700'].head())

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V2/main/data/urbanpop.xlsx'

# Read in all sheets of Excel file: xl
xl = pd.read_excel(url, sheet_name="1960-1966")

# Print the head of the first sheet 
xl.head()

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V2/main/data/stocks.json'

# Read in all sheets of Excel file: xl
df_from_json = pd.read_json(url)

#https://pandas.pydata.org/docs/reference/api/pandas.read_json.html

df_from_json.head()

### INEGI

API del Banco de Indicadores

<https://www.inegi.org.mx/servicios/api_indicadores.html>

    - Token
<https://www.inegi.org.mx/app/desarrolladores/generatoken/Usuarios/token_Verify>

In [ ]:
import requests
import json

#https://docs.python.org/3/library/json.html

#Llamado al API
url='https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000002/es/00000/false/BISE/2.0/32df7fee-ab78-485a-828f-9e3370a1ee63?type=json'
response= requests.get(url)

if response.status_code==200:
    content= json.loads(response.content)
    
content

Obtener datos de la serie histórica del indicador de Población total, en los Estados Unidos Mexicanos, en idioma español, en formato JSON y calcular su promedio

In [ ]:
import requests
import json

#Llamado al API
url='https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/INDICATOR/1002000002/es/00000/false/BISE/2.0/32df7fee-ab78-485a-828f-9e3370a1ee63?type=json'
response= requests.get(url)
if response.status_code==200:
    content= json.loads(response.content)
    Series=content['Series'][0]['OBSERVATIONS']   
    
    #Obtención de la lista de observaciones 
    Observaciones=[]
    for obs in Series:  Observaciones.append(float(obs['OBS_VALUE']));
    

    #Generación del promedio de la lista de observaciones 
    sum=0.0
    for i in range(0,len(Observaciones)): sum=sum+Observaciones[i];  

    resultado=sum/len(Observaciones);
    print(resultado)

### The Worl Bank

Developer Information

<https://datahelpdesk.worldbank.org/knowledgebase/topics/125589>

WBGAPI

<https://pypi.org/project/wbgapi/>

Here is a basic data query that returns a single indicator for all available economies and 5 even years.

In [ ]:
import wbgapi as wb   
import pandas as pd   
import matplotlib.pyplot as plt

wb.data.DataFrame('SP.POP.TOTL', time=range(2010, 2020, 1), labels=True)

Here is a plot of per-capita income for 2 countries and 2 decades:

In [ ]:
wb.data.DataFrame('NY.GDP.PCAP.CD', [ 'MEX', 'COL'],
                  range(2000, 2021), index='time').plot(figsize=(10, 6))
plt.show()

### Datos Abiertos

México

<https://datos.gob.mx/>

In [ ]:
import requests
import json

#Llamado al API
url='https://api.datos.gob.mx/v1/datasets/'
response= requests.get(url)

if response.status_code==200:
    content= json.loads(response.content)
    
content

### Wikipedia API

The MediaWiki Action API is a web service that allows access to some wiki-features like authentication, page operations, and search. It can provide meta information about the wiki and the logged-in user.

- Data science
    - From Wikipedia, the free encyclopedia
    
https://en.wikipedia.org/wiki/Data_science#:~:text=Data%20science%20is%20an%20interdisciplinary,broad%20range%20of%20application%20domains.

- EndPoint   

<https://www.mediawiki.org/wiki/API:Main_page>

In [ ]:
# Import package
import requests

# Assign URL to variable: url
url = 'https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&exintro=&titles=data%20science'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Decode the JSON data into a dictionary: json_data
json_data = r.json()

#json_data

ds_data = json_data['query']['pages']['35458904']['extract']

print(ds_data)

## Working with relational databases in Python

Relational databases, an essential element of any data scientist's toolkit. 

You will be learning about the relational model, creating SQL queries, filtering and ordering your SQL records, and advanced querying by JOINing database tables.

### Creating a database engine

- Chinook Database


> The name of this sample database was based on the Northwind database. Chinooks are winds in the interior West of North America, where the Canadian Prairies and Great Plains meet various mountain ranges. Chinooks are most prevalent over southern Alberta in Canada. Chinook is a good name choice for a database that intends to be an alternative to Northwind.

- DB   

    - <https://github.com/lerocha/chinook-database>

- Engine

    - <https://docs.sqlalchemy.org/en/14/core/engines.html>

In [2]:
# pip install sqlalchemy

# https://pypi.org/project/SQLAlchemy/

# https://docs.sqlalchemy.org/en/14/

In [3]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///data/Chinook.sqlite')

print(engine)

Engine(sqlite:///data/Chinook.sqlite)

### What are the tables in the database?

Before you can get any data out of the database,  you'll need to know what tables it contains!

To this end, you'll save the table names to a list using the method table_names() on the engine and then you will print the list.

In [4]:
# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

/var/folders/zj/mgr4w2nj1y54f_qb92pw19hh0000gp/T/ipykernel_6711/1617455427.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

![title](imgs/Chinook.png)

### The Hello World of SQL Queries!

In this section you'll perform the Hello World of SQL queries, SELECT, in order to retrieve all columns of the table Album in the Chinook database. Recall that the query SELECT * selects all columns.

In [5]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///data/Chinook.sqlite')

# Open engine connection
con = engine.connect()

# Perform query: rs
rs = con.execute("SELECT * FROM Customer")

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

## Importing from other formats

### Importing R data

<https://github.com/ofajardo/pyreadr>

In [6]:
import pyreadr

data = pyreadr.read_r('data/weather.rds') # also works for RData

df = data[None] # extract the pandas data frame 

df.head()

PyreadrError: File b'data/weather.rds' does not exist!

In [8]:
type(df)

pandas.core.frame.DataFrame

### Importing SAS files

- <https://www.sas.com/en_us/home.html>

- <https://documentation.sas.com/doc/en/pgmsascdc/9.4_3.5/hostwin/n0sk6o15955yoen19n9ghdziqw1u.htm#p0sgui0b1o9nljn1crwkx9k7yr4w>

In [9]:
# !pip install sas7bdat

# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
with SAS7BDAT('data/sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
df_sas.head()

     YEAR     P           S
0  1950.0  12.9  181.899994
1  1951.0  11.9  245.000000
2  1952.0  10.7  250.199997
3  1953.0  11.3  265.899994
4  1954.0  11.2  248.500000

In [10]:
type(df_sas)

pandas.core.frame.DataFrame

### Importing Stata files

<https://www.stata.com/>

In [11]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('data/disarea.dta')

# Print the head of the DataFrame df
df.head()

,wbcode,country,disa1,disa2,disa3,disa4,disa5,disa6,disa7,disa8,...,disa16,disa17,disa18,disa19,disa20,disa21,disa22,disa23,disa24,disa25
0,AFG,Afghanistan,0.00,0.00,0.76,0.73,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.02,0.00,0.00
1,AGO,Angola,0.32,0.02,0.56,0.00,0.0,0.00,0.56,0.0,...,0.0,0.4,0.0,0.61,0.00,0.0,0.99,0.98,0.61,0.00
2,ALB,Albania,0.00,0.00,0.02,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.16
3,ARE,United Arab Emirates,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,ARG,Argentina,0.00,0.24,0.24,0.00,0.0,0.23,0.00,0.0,...,0.0,0.0,0.0,0.00,0.05,0.0,0.00,0.01,0.00,0.11

### Using h5py to import HDF5 files

<https://www.hdfgroup.org/solutions/hdf5/>

In [12]:
# Import packages
import numpy as np
import h5py

# Assign filename: file
file = 'data/L-L1_LOSC_4_V1-1126259446-32.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
type(data)

h5py._hl.files.File

In [13]:
# Print the keys of the file
for key in data.keys():
    print(key)

meta
quality
strain

### Loading MatLab (.mat) files

<https://www.mathworks.com/products/matlab.html>

In [14]:
# Import package
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('data/albeck_gene_expression.mat')
#mat = scipy.io.loadmat('data/ja_data2.mat')

# Print the datatype type of mat
print(type(mat))

<class 'dict'>

In [15]:
# Print the keys of the MATLAB dictionary
mat.keys()

dict_keys(['__header__', '__version__', '__globals__', 'rfpCyt', 'rfpNuc', 'cfpNuc', 'cfpCyt', 'yfpNuc', 'yfpCyt', 'CYratioCyt'])

In [16]:
# Print the type of the value corresponding to the key 'CYratioCyt'
print(type(mat['CYratioCyt']))

<class 'numpy.ndarray'>

In [17]:
# Print the shape of the value corresponding to the key 'CYratioCyt'
print(np.shape(mat['CYratioCyt']))

(200, 137)

In [18]:

# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]

data

array([1.45452828, 1.45565564, 1.44976855, 1.43462701, 1.42254717,
       1.41797674, 1.27794176, 1.22593573, 1.16828719, 1.16563016,
       1.17690634, 1.32351316, 1.43087562, 1.4608052 , 1.44118846,
       1.2576108 , 1.17416244, 1.16500043, 1.17600378, 1.21088682,
       1.26816583, 1.38275979, 1.38356258, 1.30697631, 1.17082168,
       1.17959836, 1.18968628, 1.2042729 , 1.2801658 , 1.37007579,
       1.33207307, 1.20997379, 1.15286206, 1.16269752, 1.17707873,
       1.21696135, 1.30454232, 1.35457108, 1.33429957, 1.1791073 ,
       1.1748539 , 1.18732482, 1.20002222, 1.23357194, 1.29627093,
       1.32857357, 1.31347809, 1.18643201, 1.17360083, 1.17568763,
       1.19057057, 1.2182355 , 1.27304043, 1.29324679, 1.1960901 ,
       1.18671497, 1.18027266, 1.1824329 , 1.20047195, 1.24622775,
       1.27208085, 1.18666067, 1.18637573, 1.18980102, 1.19297631,
       1.21255691, 1.24163487, 1.18189666, 1.18010695, 1.17607704,
       1.1900533 , 1.20572485, 1.1963422 , 1.17998771, 1.18143463,
       1.18210659, 1.18692618, 1.19563625, 1.16885728, 1.15693302,
       1.15550353, 1.15701578, 1.16672046, 1.18196457, 1.1762444 ,
       1.1649777 , 1.15402063, 1.15876959, 1.17501199, 1.16032713,
       1.17221627, 1.15635806, 1.16130115, 1.16013687, 1.16324754,
       1.16283201, 1.15699833, 1.15590066, 1.1610204 , 1.1558139 ,
       1.15124473, 1.14920157, 1.15136429, 1.14847934, 1.14761864,
       1.15012932, 1.1493494 , 1.15126692, 1.1567748 , 1.15253366,
       1.13841338, 1.13876136, 1.1425189 , 1.14030179, 1.13752593,
       1.13614891, 1.13716882, 1.14244408, 1.14175206, 1.13485217,
       1.13442175, 1.13962363, 1.13930553, 1.13447325, 1.1292516 ,
       1.13303496, 1.1282534 , 1.12461091, 1.13797497, 1.13988672,
       1.13624193, 1.13215043])

In [19]:
import pyreadstat

df = pd.read_spss("data/person.sav")

# https://github.com/Roche/pyreadstat

df.head()

PyreadstatError: File data/person.sav does not exist!

In [20]:
type(df)

pandas.core.frame.DataFrame